<%- include('partials/html-head') %> <%- include('partials/html-navbar') %>
<div class="container mx-auto mt-4">
  <table class="table table-zebra border border-base-300">
    <thead class="bg-base-300">
      <tr>
        <th>編號</th>

        <th>電郵</th>
        <th>會員暱稱</th>
      </tr>
    </thead>
    <tbody>
      <% for(let r of rows){ %>
      <tr>
        <td><%= r.member_id %></td>

        <td><%= r.email %></td>

        <td><a href="/quick/<%= r.member_id %>" class="btn btn-primary"><%= r.nickname %></a></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include('partials/html-scripts') %> <%- include('partials/html-tail') %>
