<%- include('partials/html-head') %> <%- include('partials/html-navbar') %>
<div class="container mx-auto mt-4">
  <table class="table table-zebra border border-base-300">
    <thead class="bg-base-300">
      <tr>
        <th>編號</th>
        <th>姓名</th>
        <th>手機</th>
        <th>電郵</th>
        <th>生日</th>
        <th>地址</th>
      </tr>
    </thead>
    <tbody>
      <% for(let r of rows){ %>
      <tr>
        <td><%= r.ab_id %></td>
        <td><%= r.name %></td>
        <td><%= r.mobile %></td>
        <td><%= r.email %></td>
        <td><%= r.birthday ? r.birthday.toISOString() : '' %></td>
        <td><%= r.address %></td>
      </tr>
      <% } %>

    </tbody>
  </table>
</div>

<%- include('partials/html-scripts') %> <%- include('partials/html-tail') %>
